<div class = "card col-lg-6">
    <div class= "card-header">
         <%= image_tag("avatar.jpg",:class => "avatar") %> 
        <h4>User name</h4>
        <p class="text-muted">2 days ago</p>
    </div>
    <div class="card-body">
        <p>
            Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
        </p>
    </div>
    <hr>
    <div class="card-footer footer-card text-muted">
        <div class = "col-lg-6">like </div>
        <div class = "col-lg-6">comments </div> 
    </div>
</div>
