<div class = "card col-lg-6 col-lg-offset-3 mb-3">
    <%= render partial: 'posts/form', :locals => {:post => new_post}%>
</div>

   
<%= render partial: 'posts/show', :locals => {:posts => @posts}%>

    