<div class="middle-section col-sm-6 col-sm-offset-3">
    <% @users.each do |user|%>
    <div class="card col-sm-12 friend-box">
        <img src="<%= user.image %>" alt="" >
        <div class="friend-content">
            <span><%= user.name %></span>
            <% if requested(user.id)%>
                <button style="color: #4267b2" disabled>friend request send</button>
            <% else %>
                <%= link_to new_friendship_path(user, user_id: user.id) do %>
                    <button>add friend</button>
                <% end %>
            <% end %>
        </div>
    </div>
    <% end %>
</div>
