body {
  background: #e9ebee;
  
}

.navbar a {
  color: #ffffff;
}

.navbar {
  background: #4267b2;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
  
  &:hover { 
    color: #fff;
    text-decoration: none;
  }
}

.main-section {
    margin-top: 60px
}
.card{
  background: #fff;
  border: 1px solid #ddd; 
  border-radius: 3px;
}
.footer-card{
    padding-bottom: 5%;
  text-align: center;
}
hr{
  margin-bottom: 10px;
}
.avatar{
  width: 10%;
  height: 10%;
  border-radius: 50%;
  float: left;
  margin-right: 1%;
}
.mt-3{
  margin-top: 3%;
}
.actions{
  padding-bottom: 2%
}
.post-label{
  padding-top: 2%;
}
.comment-input {
  
}
.clear{
  clear:both;
}

.comment-display-section {
}
h5 {
  font-weight: bold;
}

// comment section

.comment-section {
  display:flex;
  flex-direction:row;
  background: #f2f3f5;
  border-radius: 20px;
  border: 1px solid #9dbfd9;
  width: 100%;
  height: 38px;
  padding: 2px;

  input {
    flex-grow: 2;
    padding: 2px;
    border: none
  }

  button {
    border:1px solid #4267b2;
    background:#4267b2;
    color:white;
    border-radius: 20px
  }
}
.mod-links{
  display: block;
  text-align: center;
}