a {
  color: white;
}
.navbar {
  background: #4267b2;
  color: white
}
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
  
  &:hover { 
    color: #fff;
    text-decoration: none;
  }
}

.main-section {
    margin-top: 60px
}