body {
  background: #e9ebee;
  
}

.navbar a {
  color: #ffffff;
}

.navbar {
  background: #4267b2;
}

#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
  
  &:hover { 
    color: #fff;
    text-decoration: none;
  }
}

.main-section {
    margin-top: 60px
}
.card{
  background: #fff;
  border: 1px solid #ddd; 
  border-radius: 3px;
}
.footer-card{
    padding-bottom: 5%;
  text-align: center;
}
hr{
  margin-bottom: 10px;
}
.avatar{
  width: 10%;
  height: 10%;
  border-radius: 50%;
  float: left;
  margin-right: 1%;
}
.mt-3{
  margin-top: 3%;
}
.actions{
  padding-bottom: 2%
}
.post-label{
  padding-top: 2%;
}
.comment-input {
  background: #f2f3f5;
  border-radius: 20px;
  border: 1px solid #9dbfd9;
  width: 80%;
  height: 38px;
}
.clear{
  clear:both;
}